ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #02304766;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 36px 40px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #1F91AD;
}

.active {
  background-color: #FB8500;
}