html {
    height: 150%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../static/images/mainbg.jpg");
    background-size: 100% 100%;
    margin-top:90px;
    background-repeat:repeat-x;
    background-size: 100% 100%;
    background-color: #023047;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

body {
    margin:0;
}

h1 {
    color: #FFBA0A;
    margin-left: 20px;
}

p {
    color: white;
}

.label {
  color: white;
  padding: 8px;
}

.header {
  padding: 30px;
  text-align: center;
  background: #FFB703;
  color: white;
  font-size: 15px;
}
