html {
    height: 150%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../static/images/mainbg.jpg");
    background-size: 100% 100%;
    margin-top:90px;
    background-repeat:repeat-x;
    background-size: 100% 100%;
    background-color: #023047;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

body {
    margin:0;
}

h1 {
    color: #FFBA0A;
    margin-left: 20px;
}

p {
    color: white;
}

.label {
  color: white;
  padding: 8px;
}

.header {
  padding: 30px;
  text-align: center;
  background: #FFB703;
  color: white;
  font-size: 15px;
}


#pathway{
    padding-top: 2%;
    padding-bottom: 2%;
}

.explanation {
    text-align: center;
    text-transform: uppercase;
    margin-top: 1%;
}

.row{
    padding: 5vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.step {
    width: 30%;
    padding: 1%;
}

.step h1{
    margin-bottom: 3%;
}