<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>My Gym</title>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/navbar.css">
    </head>
    <body>

        <ul>
            <img style="float:left" src="/static/images/MyGymLogo.svg" alt="Logo" width="90" height="90">
            <li><a href="/create_account">Create an account</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/review">Review</a></li>
            <li><a class="active" href="/">Home</a></li>
        </ul>

    <div style="padding:20px;">
        <h1> Welcome to MyGym </h1></br>
        <input type = "button" onclick = "sayWelcome()" value = "Welcome Button" /></br>
        <img src="/static/images/MyGymLogo.svg" alt="Logo" width="200" height="300">
    </div>

    </body>

</html>