<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      <form action = "/save_review" method = "POST">
          <p>Please provide your gender:</p><br>
              <input type="radio" id="male" name="gender" value="male">
              <label for="male">Male</label><br>
              <input type="radio" id="female" name="gender" value="female">
              <label for="female">Female</label><br>
              <input type="radio" id="other" name="gender" value="other">
              <label for="other">Other</label>
          <br>
          <p>Please provide your date of birth:</p><br>
            <input type="date" name="DOB"
                   value="2020-01-01">
          <p>How would you describe your experience at MyGym?</p><br>
            <textarea name="experience" rows="10" cols="30" placeholder="Write your response here...">
            </textarea>
          <br>
          <p><input type="submit" value ="submit" /></p>
      </form>
    </body>
</html>