<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Welcome {{ name }}</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/navbar.css">
    </head>
    <body>
        <ul>
            <img style="float:left" src="/static/images/MyGymLogo.svg" alt="Logo" width="90" height="90">
            <li><a class="active" href="/create_account">Create an account</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/review">Review</a></li>
            <li><a href="/">Home</a></li>
        </ul>

        <div style="padding:20px;">
            <h1> Thank you for your feedback! </h1></br>
        </div>
    </body>
</html>